
<br>
<div class="container-fluid px-4">
  <h2 *ngIf="products.length==0" class="text-center text-uppercase mb-4" id="err-msg">There are no products to show!!!</h2>

  <div class="row g-4">
    <div class="col-lg-6 col-sm-12" *ngFor="let p of products">
      <div class="card shadow-sm">
        <div class="product-card">
          <img [src]="p.image_url" alt="{{ p.name }}" class="product-image" />
          <div class="product-details">
            <h5 class="card-title"> {{ p.id }}. {{ p.name }}</h5>
            <div class="text-muted " id="details"> 
              {{ p.manufacturer }} - {{ p.category }} - {{ p.rating }} / 5⭐ <br>       
            </div>
            <p class="text-muted">{{ p.description }}</p>
            <div class="price-stock-row">
              <p class="left-text" id="price">{{ p.price | currency: 'EUR'}}</p>
              <p class="right-text">{{ p.stock }} in stock</p>
            </div>    
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
