<br>

<div class="container-fluid px-4">
  <h2 *ngIf="artists.length==0" class="text-center text-uppercase mb-4" id="err-msg"> There are no artists to show!!!</h2>    
  <div class="row g-4">
    <div *ngFor="let artist of artists" class="card mb-4 shadow-sm p-3 artist-card">
      <div class="d-flex flex-column flex-md-row">
        <img [src]="artist.image_url" class="img-thumbnail artist-image me-4 mb-3 mb-md-0" alt="{{ artist.name }}" />
        <div>
          <h4>{{ artist.name }}</h4>
          <p class="text-muted">{{ artist.bio }}</p>    
          <h5 class="mt-4">Albums</h5>
          <div class="row row-cols-1 row-cols-md-2 g-3">
            <div *ngFor="let album of artist.albums" class="col">
              <div class="album-card">
                <h6 class="mb-1">{{ album.title }}</h6>
                <p class="mb-0"><strong>Release:</strong> {{ album.release_date | date }}</p>
                <p class="mb-0"><strong>Genre:</strong> {{ album.genre }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>