<p>artists works!</p>
<nav class="navbar">
    <ul>
        <!--<li class="navbar-logo"><img src="../favicon.ico" alt="Logo"></li>-->
        <li><a href="">Home</a></li>
        <li><strong>Artists</strong></li>
        <li><a href="instruments">Instruments</a></li>
        <li><a href="info" class="btn">Contact Information</a></li>
    </ul>
</nav>

<div class="container">
    <h2>List of artists</h2>
  
    <div *ngIf="message">{{ message }}</div>
    
    <div *ngIf="artists.length == 0">There are no artists to show!</div>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let a of artists">
        <div class="card">
          <img [src]="a.image_url" class="card-img-top" alt="{{ a.name }}">
          <div class="card-body">
            <h5 class="card-title">{{a.artist_id}} {{ a.name }}</h5>
            <p>Bio {{a.bio}}</p>    
            <div *ngFor="let al of a.albums" class="albums-container">
                <table>
                  <tr>
                    <td>{{ al.album_id }} <strong>Title:</strong></td>
                    <td>{{ al.title }}</td>
                  </tr>
                  <tr>
                    <td><strong>Release date:</strong></td>
                    <td>{{ al.release_date }} €</td>
                  </tr>
                  <tr>
                    <td><strong>Genre:</strong></td>
                    <td>{{ al.genre }}</td>
                  </tr>
                </table>
                <br>
              </div>                   
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>