<br>
<div class="container">
    
    <h2 class="text-center text-uppercase mb-4" id="contact-title">Contact Us - Music Store</h2>
    <p id="t">We would love to hear from you, whether you have a question about our instruments or need help with an order, feel free to contact us!</p>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email" />
                </div>
                
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" [(ngModel)]="subject" />
                </div>
                
                <div class="mb-3">
                    <label for="body" class="form-label">Message</label>
                    <textarea class="form-control" id="body" rows="6" [(ngModel)]="body"></textarea>
                </div>
                
                <button class="btn btn-primary" (click)="submit()" id="btn">Submit</button>
                <br>
                <h5 class="error">{{ error }}</h5>
                <h5 class="message"> {{ message }}</h5>

            </div>
        </div>
    </div>
</div>




